# Trace Frontend Environment Variables
# FastApi backend endpoint
VITE_API_BASE_URL=http://localhost:8000/api
# Set to 'false' to communicate with the real backend, or 'true' for local mock UI development
VITE_USE_MOCK_API=false
